h1{
    width: 967.76px;
    height: 82.26px;
    left: 50px;
    top: 180px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 80px;
    color: #FFBA08;
    text-shadow: 4px 4px 0px #000000;
    text-align: center;
}