.main-header {
    display: flex;
    justify-content: space-around;
    background-color: #591F0A;
    border-bottom: 10px solid #000;
    padding-top: 22px;
    padding-bottom: 10px;
    padding-right: 20px;
    height: 80px;
}