.main-box {
    display: inline-block;
    height: 165.55px;
    padding-left: 380.15px;
    background: #591F0A;
    width: 950.85px;
    filter: drop-shadow(10px 10px 0px #000000);
}

.main-box .main-title {
    margin-bottom: 8px;
    margin-top: -22.00px;
}