.section {
    height: 369px;
}

.section .main-title.-second {
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    color: #FFF;
    text-shadow: 0px 4px 4px #000;
    padding: 37px 65px 23px 715px;
    width: 660px;
    height: 57px;
}

.section.-bgBlack{
    background-color: #591F0A;
}

.section.-bdFirst{
    border-bottom: 10px solid #FFBA08;
}