.section {
    height: 540px;
    background: #591F0A;
}

.section .main-title.-second {
    font-size: 90px;
    color: #FFF;
    text-shadow: 0px 4px 4px #000;
    padding-right: 65px;
    padding-top: 52px;
    padding-bottom: 388px;
    padding-left: 735px;
}

.section.-bgBlack{
    background-color: #591F0A;
}

.section.-bdFirst{
    border-color: #FFBA08;
}